.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Projet 1/a.exe
Projet 1/norme_inf.txt
Projet 1/U_sol.txt
Projet 1/.vscode/c_cpp_properties.json
Projet 1/.vscode/launch.json
Projet 1/.vscode/settings.json
